[theme='Bedrock'] {
  .input-wrapper {
    label {
      color: var(--colorText);
    }

    input,
    textarea {
      border: 0;
      padding: 10px 20px;
      border-radius: 5px;
      background: var(--colorBase);
      border: 1px solid var(--colorBorder);
    }
  }
}
