[theme='Neon'] {
  $textShadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px var(--colorBrand),
    0 0 82px var(--colorBrand),
    0 0 92px var(--colorBrand),
    0 0 102px var(--colorBrand),
    0 0 151px var(--colorBrand);

  $boxShadow:
    0 0 3px #fff,
    0 0 10px var(--colorBrand),
    0 0 15px var(--colorBrand),
    inset 0 0 5px var(--colorBrand);

  $textShadowSlim:
    0 0 5px #fff,
    0 0 10px var(--colorBrand);

  .input-wrapper {
    label {
      color: var(--colorText);
      text-shadow: $textShadowSlim;
    }

    input,
    textarea {
      border: 0;
      padding: 10px 20px;
      border-radius: 5px;
      background: var(--colorBase);
      border: 0px solid white;

      box-shadow: $boxShadow;
    }
  }

  .checkbox-custom,
  .toggle,
  .btn-main,
  .btn-secondary,
  .faqs-category,
  .select,
  .dropdown {
    box-shadow: $boxShadow !important;
  }

  .faqs-category {
    border-radius: 20px;
  }
}
